# **Kisi-kisi LC2**

Dataset yang digunakan pada latihan ini berasal dari bigquery public data. Lakukan koneksi Google Colaboratory dengan BigQuery menggunakan syntax berikut:

```
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

project_id = "hckv8-95102" #GUNAKAN GCP PROJECT-ID KALIAN MASING-MASING
client = bigquery.Client(project=project_id)
```

lalu lakukan query pada notebook menggunakan cara berikut:

```
df_1 = client.query('''
SELECT *
FROM table_name`
''').to_dataframe()

df_1
```

---

Dataset yang digunakan merupakan `record perjalanan peminjam sepeda`, dapat diakses pada:

- **Project_id_Database**: ftds-hacktiv8-project
- **Dataset**            : practice
- **Table**              : bike_rent

Lakukan pengolahan SQL langsung melalui Google Colaboratory yang telah dikoneksikan pada BigQuery

---
Pada notebook ini terdapat 2 section, **SQL** dan **Pandas**.

Kerjakan masing-masing section sesuai dengan ketentuan di bawah:

## A. **SQL**

  >**Jawab masing-masing soal dalam 1 query.**

  1. Berapa banyak label unique dari `bike_type`?  
  2. Apa saja nama label unique dari tipe sepeda?
  3. Berapa banyak total peminjaman sepeda pada tahun 2016 dan 2017?
  4. Dimana station yang paling banyak dikunjungi sebagai titik keberangkatan pada tahun 2016?
  5. Berapa nilai minimum, maximum, dan rata-rata dari durasi perjalanan pada keseluruhan data?
  6. Berapa rata-rata durasi perjalanan dari subscriber_type `Explorer` dan `Weekender`?
  7. Tampilkan entry data yang memiliki `duration_time` diatas 4.25 jam. (*Gunakan subquery untuk menjawab pertanyaan ini dengan meng-convert duration_time dari menit ke hour*).

## B. **Pandas**
  >**Data yang akan diolah menggunakan Pandas wajib diambil menggunakan Query berikut:**
  ```
  SELECT *
  FROM `ftds-hacktiv8-project.practice.bike_rent`
  ```
  
  >Simpan data yang telah diambil ke dalam variabel `df` (penamaan variabel dibebaskan), **lakukan pengolah di bawah ini menggunakan library Pandas**:

  1. Cek kesesuaian tipe data dan keberadaan missing values dengan `.info()`

  2. Buat kolom baru bernama `quarter`.
  
  Lakukan ekstraksi waktu (quarter dalam tahun) berdasarkan kolom `start_time` dengan ketentuan berikut:

<div align="center">

  |Keterangan Waktu|Bulan|
  |--|--|
  |Q1|Januari, Februari, Maret|
  |Q2|April, Mei, Juni|
  |Q3|Juli, Agustus, September|
  |Q4|Oktober, November, Desember|

</div>

  3. Tampilkan data perjalanan dari tipe member `Local365` dengan durasi perjalanan diatas 1 jam *`(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)`*.

  4. Berapa rata-rata durasi perjalanan dari tipe pelanggan `Walk Up` dengan tipe sepeda `classic` pada bulan `Maret` berdasarkan data yang diambil? *`(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)`*.

>**Notes:**
>- Dalam menjawab soal Pandas no. 2, **tidak boleh** menggunakan ekstraksi waktu `Series.dt.quarter`
- Lakukan `looping` dan `conditional` dengan memanfaatkan ekstraksi bulan `Series.dt.month` terhadap kolom `start_time`, pastikan tipe datanya ialah `datetime` agar dapat dilakukan ekstraksi.
- Simpan hasil looping ke dalam suatu variabel, dan buat kolom baru berisikan variabel sebelumnya.

###**SQL**

#####1. Berapa banyak label unique dari bike_type?

In [43]:
# working area
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

project_id = "pc-api-5133159006662443041-958" #GUNAKAN GCP PROJECT-ID KALIAN MASING-MASING
client = bigquery.Client(project=project_id)
client
bike_rent = """SELECT * FROM `ftds-hacktiv8-project.practice.bike_rent`"""

# Set up the query
rent = client.query(bike_rent).to_dataframe()
rent.head()
the_query = """SELECT DISTINCT bike_type FROM `ftds-hacktiv8-project.practice.bike_rent`""";
quer = client.query(the_query).to_dataframe()
print(quer)
print(rent)

Authenticated
  bike_type
0   classic
1  electric
       trip_id subscriber_type bike_id bike_type                start_time  \
0     18896589        Explorer      93   classic 2018-10-28 14:16:14+00:00
1     13948351        Local365     315   classic 2017-03-07 12:37:33+00:00
2     16243803        Local365     877   classic 2017-10-21 09:49:48+00:00
3     16222446         Walk Up     273   classic 2017-10-18 15:01:52+00:00
4     16222451         Walk Up     201   classic 2017-10-18 15:02:26+00:00
...        ...             ...     ...       ...                       ...
7995  15469480         Walk Up     327   classic 2017-07-22 20:17:46+00:00
7996  16130650         Walk Up     528   classic 2017-10-07 11:25:36+00:00
7997  14204138         Walk Up     235   classic 2017-03-27 13:19:02+00:00
7998  15037809         Walk Up     206   classic 2017-06-05 11:42:40+00:00
7999   9499076         Walk Up     315   classic 2016-04-09 18:52:09+00:00

                           start_station_name  \
0                     Dean Keeton & Speedway
1                                 Main Office
2           Republic Square @ 5th & Guadalupe
3             Bullock Museum @ Congress & MLK
4             Bullock Museum @ Congress & MLK
...                                       ...
7995          Bullock Museum @ Congress & MLK
7996                  Congress & Cesar Chavez
7997          State Capitol @ 14th & Colorado
7998          State Capitol @ 14th & Colorado
7999  Capital Metro HQ - East 5th at Broadway

                             end_station_name  duration_minutes
0                              11th & Salina                178
1                                 Main Office               198
2                                 Main Office                60
3                                 Main Office                60
4                                 Main Office                60
...                                       ...               ...
7995          Bullock Museum @ Congress & MLK                55
7996          Bullock Museum @ Congress & MLK                55
7997          State Capitol @ 14th & Colorado                55
7998          State Capitol @ 14th & Colorado                55
7999  Capital Metro HQ - East 5th at Broadway                55

[8000 rows x 8 columns]

In [29]:
the_query1 = """SELECT COUNT(DISTINCT bike_type) AS bike_type_count FROM `ftds-hacktiv8-project.practice.bike_rent`""";
quer1 = client.query(the_query1).to_dataframe()
print(quer1)

   bike_type_count
0                2

#####2. Apa saja nama label unique dari tipe sepeda?

In [28]:
# working area
the_query2 = """SELECT DISTINCT bike_type FROM `ftds-hacktiv8-project.practice.bike_rent`""";
quer2 = client.query(the_query2).to_dataframe()
print(quer2)

  bike_type
0   classic
1  electric

#####3. Berapa banyak total peminjaman sepeda pada tahun 2016 dan 2017?

In [31]:
# working area
# rent['year'] = rent['start_time'].dt.year
# print(rent.head())
# rent[(rent["year"] == 2016) | (rent["year"] == 2017)].groupby("year")["trip_id"].count()
the_query3 = """SELECT COUNT(trip_id) AS total_trip, EXTRACT(YEAR FROM start_time) AS year FROM `ftds-hacktiv8-project.practice.bike_rent` GROUP BY year HAVING year = 2017 OR year = 2016""";
quer3 = client.query(the_query3).to_dataframe()
print(quer3)

   total_trip  year
0        4539  2017
1        3454  2016

#####4. Dimana station yang paling banyak dikunjungi sebagai titik keberangkatan pada tahun 2016?

In [40]:
# working area
# rent[rent["year"] == 2016].groupby("start_station_name")["trip_id"].count().sort_values(ascending=False)
the_query4 = """SELECT start_station_name, COUNT(trip_id) AS total_station,
EXTRACT(YEAR FROM start_time) AS year FROM `ftds-hacktiv8-project.practice.bike_rent`
WHERE EXTRACT(YEAR FROM start_time) = 2016
GROUP BY start_station_name, year
ORDER BY total_station DESC
""";
quer4 = client.query(the_query4).to_dataframe()
print(quer4)

                                   start_station_name  total_station  year
0                     Bullock Museum @ Congress & MLK            394  2016
1                              Davis at Rainey Street            289  2016
2                          East 11th St. & San Marcos            286  2016
3                                Trinity & 6th Street            234  2016
4                     State Capitol @ 14th & Colorado            205  2016
5                                   Palmer Auditorium            196  2016
6                            ACC - West & 12th Street            185  2016
7                      East 11th St. at Victory Grill            176  2016
8                                  11th & San Jacinto            171  2016
9                                        Lavaca & 6th            162  2016
10                      Pfluger Bridge @ W 2nd Street            162  2016
11                           South Congress & Academy            162  2016
12                                   5th & San Marcos            145  2016
13                        East 6th at Robert Martinez            117  2016
14                           San Jacinto & 8th Street            100  2016
15  State Capitol Visitors Garage @ San Jacinto & ...             88  2016
16                                   Waller & 6th St.             80  2016
17                         East 7th & Pleasant Valley             69  2016
18                                         Pease Park             67  2016
19            Capital Metro HQ - East 5th at Broadway             63  2016
20                             Red River & 8th Street             48  2016
21                                   Zilker Park West             47  2016
22                                    Republic Square              5  2016
23                                    Guadalupe & 6th              3  2016

#####5. Berapa nilai minimum, maximum, dan rata-rata dari durasi perjalanan pada keseluruhan data?

In [46]:
# working area
# rent["duration_minutes"].describe()
the_query5 = """SELECT MIN(duration_minutes) AS min_duration, MAX(duration_minutes) AS max_duration, AVG(duration_minutes) AS average_duration
FROM `ftds-hacktiv8-project.practice.bike_rent`
""";
quer5 = client.query(the_query5).to_dataframe()
print(quer5)

   min_duration  max_duration  average_duration
0             2          2218           35.0995

#####6. Berapa rata-rata durasi perjalanan dari subscriber_type `Student Membership` dan `Local31`?

In [51]:
# working area
# rent.groupby("subscriber_type")["duration_minutes"].mean()
the_query6 = """SELECT  subscriber_type, AVG(duration_minutes) AS average_duration
FROM `ftds-hacktiv8-project.practice.bike_rent`
GROUP BY subscriber_type
HAVING subscriber_type = 'U.T. Student Membership' OR subscriber_type = 'Local30'
""";
quer6 = client.query(the_query6).to_dataframe()
print(quer6)

           subscriber_type  average_duration
0                  Local30         16.021672
1  U.T. Student Membership         39.000000

#####7. Tampilkan entry data yang memiliki `duration_time` diatas 4.25 jam. (*Gunakan subquery untuk menjawab pertanyaan ini dengan meng-convert duration_time dari menit ke hour*).

In [69]:
# working area
the_query7 = """
SELECT * FROM `ftds-hacktiv8-project.practice.bike_rent`
WHERE trip_id IN (SELECT trip_id
FROM `ftds-hacktiv8-project.practice.bike_rent`
WHERE ROUND(duration_minutes / 60, 2) > 4.25)
""";
quer7 = client.query(the_query7).to_dataframe()
print(quer7)

     trip_id subscriber_type bike_id bike_type                start_time  \
0   13255686         Walk Up     539   classic 2016-12-25 11:17:16+00:00
1   13255691         Walk Up     453   classic 2016-12-25 11:18:17+00:00
2   14534164         Walk Up     664   classic 2017-04-21 20:46:17+00:00
3   14534142         Walk Up     275   classic 2017-04-21 20:41:54+00:00
4   11965934         Walk Up     453   classic 2016-09-17 11:55:23+00:00
..       ...             ...     ...       ...                       ...
86  14699898         Walk Up     262   classic 2017-05-06 09:08:08+00:00
87   9516320         Walk Up     157   classic 2016-04-11 13:19:09+00:00
88  14465838         Walk Up     871   classic 2017-04-16 12:39:51+00:00
89  15884138         Walk Up     882   classic 2017-09-07 19:11:26+00:00
90  14087008         Walk Up     221   classic 2017-03-18 00:14:37+00:00

                         start_station_name  \
0                                Pease Park
1                                Pease Park
2                    Davis at Rainey Street
3                    Davis at Rainey Street
4           Bullock Museum @ Congress & MLK
..                                      ...
86          State Capitol @ 14th & Colorado
87                             Lavaca & 6th
88                 South Congress & Academy
89  Capital Metro HQ - East 5th at Broadway
90              East 6th at Robert Martinez

                           end_station_name  duration_minutes
0                                Pease Park               351
1                                Pease Park               350
2                                Pease Park               783
3                                Pease Park               789
4                              Lavaca & 6th               325
..                                      ...               ...
86          State Capitol @ 14th & Colorado               350
87          State Capitol @ 14th & Colorado               643
88          State Capitol @ 14th & Colorado               684
89  Capital Metro HQ - East 5th at Broadway               292
90  Capital Metro HQ - East 5th at Broadway               757

[91 rows x 8 columns]

###**Pandas**

#####Data Loading

In [ ]:
# working area

#####1. Cek kesesuaian tipe data dan keberadaan missing values dengan `.info()`

In [71]:
# working area
rent.info()
df1 = rent.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   trip_id             8000 non-null   Int64
 1   subscriber_type     8000 non-null   object
 2   bike_id             8000 non-null   object
 3   bike_type           8000 non-null   object
 4   start_time          8000 non-null   datetime64[us, UTC]
 5   start_station_name  8000 non-null   object
 6   end_station_name    8000 non-null   object
 7   duration_minutes    8000 non-null   Int64
dtypes: Int64(2), datetime64[us, UTC](1), object(5)
memory usage: 515.8+ KB

#####2. Buat kolom baru bernama `quarter`.
  
  Lakukan ekstraksi waktu (quarter dalam tahun) berdasarkan kolom `start_time` dengan ketentuan berikut:

<div align="center">

  |Keterangan Waktu|Bulan|
  |--|--|
  |Q1|Januari, Februari, Maret|
  |Q2|April, Mei, Juni|
  |Q3|Juli, Agustus, September|
  |Q4|Oktober, November, Desember|

</div>

>**Notes:**
>- Dalam menjawab soal Pandas no. 2, **tidak boleh** menggunakan ekstraksi waktu `Series.dt.quarter`.
- Lakukan `looping` dan `conditional` dengan memanfaatkan ekstraksi bulan `Series.dt.month` terhadap kolom `start_time`, pastikan tipe datanya ialah `datetime` agar dapat dilakukan ekstraksi.
- Simpan hasil looping ke dalam suatu variabel, dan buat kolom baru berisikan variabel sebelumnya.

In [89]:
# working area
df1["quarter"] = df1["start_time"].dt.month
for i, row in df1.iterrows():
  if row["start_time"].month >= 1 and row["start_time"].month <= 3:
    df1.at[i, 'quarter'] = "Q1"
  elif row["start_time"].month >= 4 and row["start_time"].month <= 6:
    df1.at[i, 'quarter'] = "Q2"
  elif row["start_time"].month >= 7 and row["start_time"].month <= 9:
    df1.at[i, 'quarter'] = "Q3"
  else:
    df1.at[i, 'quarter'] = "Q4"
df1

<ipython-input-89-438a74028f2b>:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Q4' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df1.at[i, 'quarter'] = "Q4"

,trip_id,subscriber_type,bike_id,bike_type,start_time,start_station_name,end_station_name,duration_minutes,quarter,month
0,18896589,Explorer,93,classic,2018-10-28 14:16:14+00:00,Dean Keeton & Speedway,11th & Salina,178,Q4,10.0
1,13948351,Local365,315,classic,2017-03-07 12:37:33+00:00,Main Office,Main Office,198,Q1,3.0
2,16243803,Local365,877,classic,2017-10-21 09:49:48+00:00,Republic Square @ 5th & Guadalupe,Main Office,60,Q4,10.0
3,16222446,Walk Up,273,classic,2017-10-18 15:01:52+00:00,Bullock Museum @ Congress & MLK,Main Office,60,Q4,10.0
4,16222451,Walk Up,201,classic,2017-10-18 15:02:26+00:00,Bullock Museum @ Congress & MLK,Main Office,60,Q4,10.0
...,...,...,...,...,...,...,...,...,...,...
7995,15469480,Walk Up,327,classic,2017-07-22 20:17:46+00:00,Bullock Museum @ Congress & MLK,Bullock Museum @ Congress & MLK,55,Q3,7.0
7996,16130650,Walk Up,528,classic,2017-10-07 11:25:36+00:00,Congress & Cesar Chavez,Bullock Museum @ Congress & MLK,55,Q4,10.0
7997,14204138,Walk Up,235,classic,2017-03-27 13:19:02+00:00,State Capitol @ 14th & Colorado,State Capitol @ 14th & Colorado,55,Q1,3.0
7998,15037809,Walk Up,206,classic,2017-06-05 11:42:40+00:00,State Capitol @ 14th & Colorado,State Capitol @ 14th & Colorado,55,Q2,6.0
7999,9499076,Walk Up,315,classic,2016-04-09 18:52:09+00:00,Capital Metro HQ - East 5th at Broadway,Capital Metro HQ - East 5th at Broadway,55,Q2,4.0

#####3. Tampilkan data perjalanan dari tipe member `Local31` dengan durasi perjalanan diatas 1 jam.
*(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)*

In [75]:
# working area
df1[(df1["subscriber_type"] == "Local30") & (df1["duration_minutes"] > 60)]

,trip_id,subscriber_type,bike_id,bike_type,start_time,start_station_name,end_station_name,duration_minutes,quarter
24,13903148,Local30,62,classic,2017-03-02 17:26:17+00:00,Pease Park,Pease Park,90,3
39,11900970,Local30,666,classic,2016-09-13 12:19:41+00:00,Lavaca & 6th,Lavaca & 6th,73,9
42,11918705,Local30,200,classic,2016-09-14 12:33:27+00:00,Lavaca & 6th,Lavaca & 6th,66,9
47,12111057,Local30,930,classic,2016-09-27 11:54:40+00:00,Lavaca & 6th,Lavaca & 6th,71,9
56,12563092,Local30,464,classic,2016-10-26 11:54:07+00:00,Lavaca & 6th,Lavaca & 6th,62,10
64,12458429,Local30,513,classic,2016-10-19 12:16:29+00:00,Lavaca & 6th,Lavaca & 6th,75,10
149,14638999,Local30,432,classic,2017-05-01 07:23:30+00:00,Davis at Rainey Street,Lavaca & 6th,137,5
157,15065592,Local30,88,classic,2017-06-08 16:02:58+00:00,Davis at Rainey Street,Lavaca & 6th,174,6
201,13526115,Local30,277,classic,2017-01-24 07:27:33+00:00,Davis at Rainey Street,Guadalupe & 6th,138,1
263,14729536,Local30,114,classic,2017-05-08 15:45:34+00:00,Bullock Museum @ Congress & MLK,17th & Guadalupe,497,5
343,12065614,Local30,452,classic,2016-09-23 23:00:11+00:00,11th & San Jacinto,11th & San Jacinto,71,9
374,15865752,Local30,198,classic,2017-09-05 17:14:36+00:00,11th & San Jacinto,11th & San Jacinto,409,9
440,14968922,Local30,875,classic,2017-05-29 14:13:44+00:00,State Capitol @ 14th & Colorado,13th & San Antonio,106,5
670,12523096,Local30,589,classic,2016-10-23 18:55:47+00:00,Pfluger Bridge @ W 2nd Street,Barton Springs & Riverside,308,10
683,14766785,Local30,881,classic,2017-05-11 21:01:13+00:00,Palmer Auditorium,Barton Springs & Riverside,182,5
808,16404425,Local30,156,classic,2017-11-19 16:17:14+00:00,East 11th St. at Victory Grill,East 11th St. at Victory Grill,112,11
813,16457909,Local30,414,classic,2017-11-30 20:09:15+00:00,East 11th St. at Victory Grill,East 11th St. at Victory Grill,190,11
1188,9690519,Local30,105,classic,2016-04-23 16:32:30+00:00,5th & San Marcos,Capital Metro HQ - East 5th at Broadway,146,4

#####4. Berapa rata-rata durasi perjalanan dari tipe pelanggan `Walk Up` dengan tipe sepeda `classic` pada bulan `Maret` dari data yang diambil?
*(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)*

In [81]:
# working area
pandas_4 = df1[(df1["subscriber_type"] == "Walk Up") & (df1["bike_type"] == "classic") & (df1["start_time"].dt.month == 3)]
print(pandas_4["duration_minutes"].mean())

38.476584022038566

In [ ]:
df1.to_csv('a_out.csv')